.homeCard {
	width: 50vw;
	padding: 2rem;
	background-color: white;
	border-radius: 1rem;
	color: #1f2937;
	text-align: justify;
	transition: all 0.3s ease-out;
	margin-left: auto;
	margin-right: auto;
}

.homeCard h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 200;
	margin: 0 0 0.7em;
}

.homeCard div {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.homeCard p {
	background-color: green;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 200;
}

.container {
	display: flex;
	row-gap: 15px;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
}

.card {
	border: 1px solid #eee;
	border-radius: 15px;
	padding: 10px;
	background-color: #fff;
	display: flex;
	column-gap: 15px;
	box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.5);
	width: 350px;
}
.card img {
	transform: translateY(15%);
	box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.75);
	border-radius: 15px;
}

.card h3 {
	font-weight: 400;
	font-size: 16px;
}
.card p {
	font-weight: 300;
	font-size: 12px;
}

.div {
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}
.div h2 {
	font-weight: 400;
	font-size: 20;
}
